{% extends "layout.html" %}

{% block title %}
    Books Project
{% endblock %}

{% block body %}
    <div class="container text-center vertical-center">

        {% if session['logged_in'] == True %}
            <h1 class="welcome-msg2">Hey {{ session["user_username"] }}!</h1>
            <h2 class="welcome-msg2">Think of whatever you want read</h2>
            <a href="/search"><button type="button" class="btn btn-primary btn-lg">Find me a book?</button></a>
        {% endif %}
        {% if session['logged_in'] != True %}
            <h1 style="color:#52de97;">Welcome to CS50 Web (Books Project)</h1>
        {% endif %}
    </div>

{% endblock %}